body {
    background-color: gray;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.grid-container{
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    padding: 8%;
    padding-bottom: 0;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-content: center;
    
}


.grid-buttons {
    font-size: 50px;
    width: 25vh;
    height: 25vh;
    border: 1px solid rgb(218, 144, 32);
    background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(0, 255, 255));
    border-radius: 25%;

}

