body {
    background-color: gray;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}
.container {

    width: 100vw;
    display: flex;
}

.game-panel {
    background-color: green;
    width: 25vw;
    height: 80%;
    padding: 3%;
    padding-bottom: 0;
    border: 2px double goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: fantasy; */
    text-align: center;
    word-wrap: break-word;
}
#panel-header {

    font-size: 45px;
}
#win-tracker {
    word-wrap: inherit;
    font-size: 30px;
}
#player-announcer{
    word-wrap: inherit;

    font-size: 50px;
    color: lightcyan;
    margin-top: 19%;
}

#winner-announcer{
    font-size: 60px;
}

#new-game-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: gray;
    width: 50%;
    height: 20%;
    margin-top: 40%;
    bottom: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin-right: 20%;
    padding: 8%;
    padding-bottom: 0;
    height: 80vh;
  
    
}


.grid-buttons {
    font-size: 70px;
    width: 25vh;
    height: 25vh;
    margin: 3%;
    border: 1px solid rgb(218, 144, 32);
    background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(0, 255, 255));
    border-radius: 25%;

}

